.deps/
3dscapture.o
dscapture.o
Cute3DSCapture
CuteDSCapture
Makefile
autom4te.cache/
config.log
config.status
main.o
Makefile.in
aclocal.m4
compile
configure
depcomp
install-sh
missing
*.tar.gz
.idea/